#cart{
    width: 70vw;
    margin: 150px auto;
    .container{
        .title{
            padding-bottom: 39px;
            h2{
                font-size: 28px;
                font-weight: 700;
            }
        }
        .none-cart-list{
            width: 100%;
            .none-cart-list-wrap{
                width: 100%;
                .none-cart-caption{
                    padding: 30px 0;
                    color: #212530;
                    font-size: 12px;
                    text-align: center;
                }
            }
        }  
        .cart-list{
            display: flex;
            justify-content: space-between;
            .left-box{
                width: 800px;
                .cart-btn{
                    width: 100%;
                    &.cart-header{
                        border-bottom: 1px solid #ECEFF1;
                    }
                    &.cart-footer{
                        border-top: 1px solid #eee;
                    }
                    .button-box{
                        display: flex;
                        justify-content: space-between;
                        padding: 28px 0;
                        label{
                            font-size: 16px;
                            font-weight: 600;
                            color: #343A40;
                            input[type='checkbox']{  
                                width: 20px;
                                height: 20px;
                            }
                            span{
                                margin-left: 10px;
                            }
                        }
                        button{
                            background: none;
                            border: 0;
                            margin-left: 40px;
                            font-size: 16px;
                            font-weight: 600;
                            color: #868E96;
                            &:focus{
                                outline: 0;
                            }
                        }
                    }
                }
                ul{
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    li{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;                            
                        .left{
                            width: 800px;
                            .none-cart-list{
                                .none-cart-list-wrap{
                                    .none-cart-caption{
                                        width: 100%;
                                        padding: 100px 0;
                                        color: #999;
                                        font-size: 16px;
                                        font-weight: 600;
                                        text-align: center;
                                    }
                                }
                            }
                            .cart-list{
                                width: 100%;
                                .cart-list-wrap{
                                    width: 100%;
                                    ul{
                                        width: 100%;
                                        li{
                                            width: 100%;
                                            margin-bottom: 20px;
                                            padding: 30px 0;
                                            border-bottom: 1px solid #ECEFF1;
                                            .top{        
                                                display: flex;                          
                                                .button-box{                                    
                                                    input[type='checkbox']{  
                                                        width: 20px;
                                                        height: 20px;
                                                    }
                                                }
                                                img{
                                                    width: 100px;
                                                    height: 100px;
                                                    margin-left: 17px;
                                                    margin-right: 24px;
                                                    cursor: pointer;
                                                }
                                                .product-box{
                                                    user-select: none;
                                                    p{
                                                        margin-bottom: 8px;
                                                        font-size: 18px;
                                                        font-weight: 500;
                                                        color: #495057;
                                                        user-select: none;
                                                        cursor: pointer;
                                                    }
                                                    strong{
                                                        font-size: 1vw;
                                                        font-weight: 700;
                                                        color: #000;
                                                    }
                                                }  
                                            }
                                            .bottom{
                                                display: flex;
                                                flex-direction: row;
                                                align-items: center;
                                                justify-content: flex-end;                                    
                                                .count-box{
                                                    display: flex;
                                                    justify-content: space-around;
                                                    .count{
                                                        button{    
                                                            width: 28px;
                                                            height: 28px;
                                                            border: 1px solid #4b82f5;
                                                            margin: 0;
                                                            background: transparent;
                                                            img{
                                                                width: 28px;
                                                                height: 28px;
                                                                margin: 0;
                                                            }
                                                        }
                                                        span{
                                                            position: relative;
                                                            width: 46px;
                                                            height: 30px;
                                                            font-size: 18px;
                                                            border-top: 1px solid #4b82f5;
                                                            border-bottom: 1px solid #4b82f5;
                                                            font-weight: 300;                                        
                                                            color: #4b82f5;
                                                            text-align: center;
                                                            padding: 0 1.2vw;
                                                        }
                                                    }
                                                }   
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .right-box{
                width: 405px;
                padding: 59px 0 0 16px;
                .payment-box{
                    width: 100%;
                    ul{
                        width: 100%;
                        padding: 12px 20px;
                        li{
                            width: 100%;
                            padding: 8px 0;
                            display: flex;
                            justify-content: space-between;
                            strong{
                                color: #ADB5BD;
                                font-size: 16px;
                            }
                            span{
                                font-size: 16px;
                                color: #495057;                            
                            }
                            hr{
                                width: 100%;
                                border: 0;
                                border-bottom: 1px solid #ddd;
                            }
                        }
                    }
                }
                .button-box{
                    padding: 20px 0;
                    button{
                        width: 100%;
                        height: 56px;
                        background: #3859E7;
                        border: 1px solid #3859E7;
                        font-weight: 600;
                        color: #fff;
                        font-size: 14px;
                    }
                }
                .info-box{
                    width: 400px;
                    p{
                        color: #999;
                        font-size: 12px;
                        line-height: 140%;
                    }
                }
            }
        }    
    }
}